#creditors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#creditors-slider {
    width: 100%;
    display: block;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}


.slider {
    background: var(--color-primary-1);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, var(--color-primary-1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 30s linear infinite; /* Define a duração da animação */
    display: flex;
    width: calc(200px * 20);
    animation-play-state: running; /* Define que a animação pode ser pausada e retomada */
}

/* Pausa a animação ao passar o mouse */
.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    height: 100px;
    width: 200px;
    padding: 2px;
    cursor: pointer;
}

.slide img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 7)); }
}

@media screen and (max-width: 1170px) {
    #creditors {
        flex-wrap: wrap;
        justify-content: center;
    }

    .creditor {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .creditor {
        width: 100%;
    }

    #creditors .section-subtitle {
        text-align: center;
    }
} 